[submodule "src/externals/Miracl"]
	path = src/externals/Miracl
	url = https://github.com/miracl/MIRACL.git
[submodule "src/externals/MIRACL"]
	path = src/externals/MIRACL
	url = https://github.com/miracl/MIRACL.git
